<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" stopOnFailure="false" colors="false" syntaxCheck="false" verbose="false" processIsolation="false" stderr="true">
    <testsuite name="Core Tests">
        <directory suffix="Test.php">unit/app/code/core</directory>
    </testsuite>
    <listeners>
        <listener class="MageTest_PHPUnit_Framework_TestListener"/>
    </listeners>
</phpunit>