services:
  mysql:
    image: "mariadb:11.4-ubi"
    ports:
      - "33306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: password123
      MYSQL_DATABASE: openmagetest_dev
      MYSQL_USER: openmagetest
      MYSQL_PASSWORD: password123

  php:
    image: openmagetest/php:8.4
    build:
      context: ./dist/docker/php
      args:
        PHP_BASE_IMAGE: php:8.4-trixie
    volumes:
      - ./build:/srv/openmagetest

  php-fpm:
    image: openmagetest/php:8.4-fpm-trixie
    build:
      context: ./dist/docker/php
      args:
        PHP_BASE_IMAGE: php:8.4-fpm
    volumes:
      - ./build:/srv/openmagetest
    depends_on:
      - mysql

  nginx:
    image: nginx:latest
    volumes:
      - ./dist/docker/nginx/nginx.template:/etc/nginx/templates/default.conf.template:ro
      - ./build:/srv/openmagetest
    ports:
      - "8080:80"
    environment:
      - NGINX_HOST=_
      - NGINX_PORT=80
      - NGINX_ROOT=/srv/openmagetest/openmage
      - NGINX_PROXY=php-fpm:9000
    depends_on:
      - php-fpm

  setup:
    image: openmagetest/php:8.4
    volumes:
      - ./build:/srv/openmagetest
      - ./dist/docker:/build/setup
      - ./src:/build/src
      - ./modman:/build/modman:ro
    restart: "no"
    environment:
      - OPENMAGE_ROOT=/srv/openmagetest/openmage
      - OPENMAGE_VERSION=v20.16.0
      - MYSQL_ROOT_PASSWORD=password123
      - MYSQL_DATABASE=openmagetest_dev
      - MYSQL_USER=openmagetest
      - MYSQL_PASSWORD=password123
      - MYSQL_HOST=mysql
    depends_on:
      - mysql
    entrypoint:
      ["/usr/bin/env", "bash", "-c", "/build/setup/setup.sh"]
    profiles: ["setup"]

  tests:
    image: openmagetest/php:8.4
    volumes:
      - ./build:/srv/openmagetest
      - ./dist/docker:/build/setup
      - ./src:/build/src
      - ./modman:/build/modman:ro
    working_dir: /srv/openmagetest/openmage
    restart: "no"
    depends_on:
      - mysql
    profiles:
      - testsuite
    entrypoint: "/bin/sh -c 'sleep 2 && /srv/openmagetest/openmage/vendor/bin/phpunit -c tests'"
