services:
  mysql:
    image: "mariadb:11.4-ubi"
    ports:
      - "33306:3306"
    cap_add:
      - SYS_NICE
    volumes:
      - ./:/srv/openmagetest
    environment:
      MYSQL_ROOT_PASSWORD: password123
      MYSQL_DATABASE: openmagetest_dev
      MYSQL_USER: openmagetest
      MYSQL_PASSWORD: password123
      OPENMAGE_ROOT: /srv/openmagetest/build/openmage
  php:
    image: php:8.4-fpm
    build:
      context: ./docker/php
    volumes:
      - ./:/srv/openmagetest
    depends_on:
      - mysql
  nginx:
    image: nginx:latest
    volumes:
      - ./docker/nginx/nginx.template:/etc/nginx/templates/default.conf.template:ro
      - ./:/srv/openmagetest
    ports:
      - "8080:80"
    links:
      - php
    environment:
      - NGINX_HOST=_
      - NGINX_PORT=80
      - NGINX_ROOT=/srv/openmagetest/build/openmage
      - NGINX_PROXY=php:9000
    depends_on:
      - php
  openmagetest_setup:
    image: php:8.4-fpm
    volumes:
      - ./:/srv/openmagetest
    restart: "no"
    environment:
      - OPENMAGE_ROOT=/srv/openmagetest/build/openmage
      - OPENMAGE_VERSION=v20.16.0
    depends_on:
      - php
    entrypoint: ['/usr/bin/env', 'bash', '-c', '/srv/openmagetest/docker/setup.sh']
  testsuite:
    image: php:8.4-fpm
    volumes:
      - ./build/openmage:/srv/openmagetest
    working_dir: /srv/openmagetest/tests
    restart: "no"
    depends_on:
      - mysql
    profiles:
      - testsuite
    entrypoint: "/bin/sh -c 'sleep 2 && /srv/openmagetest/vendor/bin/phpunit'"
